@font-face {
    font-family: 'Acme 9 Regular';
    src: url('Acme 9 Regular.ttf');
}
h1
{
    text-align: center;
    font-family: 'Acme 9 Regular';
}
.game-button
{
    width: fit-content;
    height: fit-content;
    font-family: 'Acme 9 Regular';
    font-size: large;
}
.game-div
{
    margin: auto;
    float: left;
    text-align: center;
    width: 50%;
    height: 50%;
    font-family: 'Acme 9 Regular';
    font-size: xx-large;
}
.game-screenshot
{
    width: 48%;
    height: 48%;
}
