@font-face {
    font-family: 'Acme 9 Regular';
    src: url('Acme 9 Regular.ttf');
}
body > *
{
    margin-top: 0;
    margin-bottom: 0;
}
html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #111111;
    color: #DDDDDD;
}
h1
{
    text-align: center;
    font-family: 'Acme 9 Regular';
}
a { color: #2222EE; }
.grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
}
.game-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Acme 9 Regular';
    font-size: xx-large;
}
.game-div button
{
    width: fit-content;
    height: fit-content;
    font-family: 'Acme 9 Regular';
    font-size: large;
}
.game-screenshots
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.game-screenshots img
{
    width: 100%;
    height: auto;
    border-radius: 10%;
    display: block;
}
